# To better understand this file read this:
# https://docs.ionos.space/docs/github-actions-customization/

name: "Deploy Now: Execute Build"

on:
  workflow_call:
    inputs:
      site-url:
        required: true
        type: string
      branch-id:
        required: true
        type: string

env:
  DEPLOYMENT_FOLDER: apps/web-ui/dist

jobs:
# Please do not rename this job
  build-project:
    name: build beatbax
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: v22.x

      - name: Build Node assets - install dependencies
        env:
          CI: true
          SITE_URL: ${{ inputs.site-url }}
        run: npm ci

      - name: Build Node assets - install web-ui dependencies
        env:
          CI: true
          SITE_URL: ${{ inputs.site-url }}
        run: npm ci --prefix apps/web-ui

      - name: Build Node assets - build site (engine + web-ui)
        env:
          CI: true
          SITE_URL: ${{ inputs.site-url }}
        run: npm run build:site

# Please do not touch the following action
      - name: Store deployment content
        uses: ionos-deploy-now/artifact-action@v1
        with:
          api-key: ${{ secrets.IONOS_API_KEY }}
          service-host: api-eu.ionos.space
          project-id: 23eae067-573f-41ce-adc3-83e9d6239f7a
          branch-id: ${{ inputs.branch-id }}
          version: ${{ github.sha }}
          folder: ${{ env.DEPLOYMENT_FOLDER }}
          config-file: .deploy-now/beatbax/config.yaml
          action: upload
